.monthNav {
	float: left;
	width: 20%;
	display: inline;
}

.monthNav ul {
	list-style: none;
}

.monthNav ul li {
	
}

#data {
	float: right;
	width: 80%;
}

.ui-dialog .ui-header, 
.ui-dialog .ui-content, 
.ui-dialog .ui-footer { 
	max-width: 500px;
}

.inlineLabel {
    display: inline;
    float: left;
    height: 32px;
    line-height: 28px;
    vertical-align: middle;
}

.ui-field-contain .ui-select {
    display: inline-block;
    margin-left: 20px;
    width: 60%;
}

table {
	background: none repeat scroll 0 0 #FFFFFF;
    border-collapse: collapse;
    font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;
    font-size: 12px;
    margin: 20px;
    text-align: left;
}

th {
    border-bottom: 2px solid #6678B1;
    color: #003399;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 8px;
}

td {
    border-bottom: 1px solid #CCCCCC;
    color: #666699;
    padding: 6px 8px;
}